<div class="mb-3 text-center"><ng-adsense></ng-adsense></div>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h5 class="text-center">
        Newest
      </h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artists</th>
            <th>Plays</th>
            <th>First Heard</th>
          </tr>
        </thead>
        <tbody class="text-center" *ngIf="!tracks">
          <tr>
            <td colspan="4">
              <xm-spinner></xm-spinner>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let track of tracks">
            <td>
              <a [routerLink]="['../track', track.id]">{{ track.name }}</a>
            </td>
            <td>
              <a [routerLink]="['../artist', artist.id]" class="mr-2" *ngFor="let artist of track.artists">
                {{ artist.name }}
              </a>
            </td>
            <td>{{ track.plays }}</td>
            <td><xm-time-since [date]="track.createdAt"></xm-time-since></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center">
  <ng-adsense></ng-adsense>
</div>
