<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <ng-adsense [height]="200"></ng-adsense>
    </div>
    <div class="col-12">
      <h3>Newest</h3>
      <table class="table table-responsive-md">
        <thead>
          <tr>
            <th style="min-width: 150px">Name</th>
            <th style="min-width: 150px">Artists</th>
            <th width="0" class="text-center">Plays</th>
            <th style="min-width: 110px">First Heard</th>
          </tr>
        </thead>
        <tbody class="text-center" *ngIf="!tracks">
          <tr>
            <td colspan="4"><xm-spinner></xm-spinner></td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let track of tracks">
            <td>
              <a [routerLink]="['../track', track.id]">{{ track.name }}</a>
            </td>
            <td>
              <a
                [routerLink]="['../artist', artist.id]"
                class="mr-2"
                *ngFor="let artist of track.artists"
              >
                {{ artist.name }}
              </a>
            </td>
            <td class="text-center">{{ track.plays }}</td>
            <td><xm-time-since [date]="track.createdAt"></xm-time-since></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center"><ng-adsense></ng-adsense></div>
  </div>
</div>
