<div class="mb-3 text-center"><ng-adsense></ng-adsense></div>
<div class="container text-center">
  <div class="row">
    <div class="col-12 mb-3">
      <h5>Plays in Last 30 Days</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th style="min-width: 150px">Name</th>
            <th style="min-width: 150px">Artists</th>
            <th style="min-width: 150px">Plays</th>
          </tr>
        </thead>
        <tbody class="text-center" *ngIf="!tracks">
          <tr>
            <td colspan="3">
              <xm-spinner></xm-spinner>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let track of tracks">
            <td>
              <a [routerLink]="['../track', track.id]">{{ track.name }}</a>
            </td>
            <td>
              <a [routerLink]="['../artist', artist.id]" class="mr-2" *ngFor="let artist of track.artists">
                {{ artist.name }}
              </a>
            </td>
            <td>{{ track.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center">
  <ng-adsense></ng-adsense>
</div>
