<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <h5 class="text-center">
        Plays in Last 30 Days
      </h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artists</th>
            <th>Plays</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks">
            <td>
              <a [routerLink]="['../track', track.id]">{{ track.name }}</a>
            </td>
            <td>
              <a [routerLink]="['../artist', artist.id]" class="mr-2" *ngFor="let artist of track.artists; trackBy: id">
                {{ artist.name }}
              </a>
            </td>
            <td>{{track.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
