<div class="container">
  <div class="row" infinite-scroll (scrolled)="onScroll()">
    <ng-template ngFor let-stream [ngForOf]="streams">
      <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let play of stream; trackBy: trackById" style="margin-bottom:30px">
        <div class="card h-100">
          <xm-coverart [spotify]="play.track.spotify"></xm-coverart>
          <div class="card-block">
            <p class="card-text">
              <small class="text-muted">
                <xm-time-since [date]="play.startTime"></xm-time-since>
              </small>
            </p>
            <h5 class="card-title">{{ play.track.name }}</h5>
            <a [routerLink]="['artist', artist.id]" class="mr-2" *ngFor="let artist of play.track.artists; trackBy: trackById">
              {{ artist.name }}
            </a>
          </div>
          <div>
            <xm-links class="text-center" [name]="play.track.name"
              [artists]="play.track.artists" [spotify]="play.track.spotify"
              [trackId]="play.track.id">
            </xm-links>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
