<xm-nav></xm-nav>
<nav class="navbar navbar-toggleable-xl navbar-light bg-faded mb-3">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="./" routerLinkActive="active">Stream</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Latest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [href]="spotifyLink" target="_blank">
          <i class="fa fa-spotify" aria-hidden="true"></i> Listen On Spotify
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row" infinite-scroll (scrolled)="onScroll()">
    <ng-template ngFor let-stream [ngForOf]="streams">
      <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let play of stream" style="margin-bottom:30px">
        <div class="card h-100">
          <xm-coverart [trackId]="play.trackId"></xm-coverart>
          <div class="card-block">
            <p class="card-text">
              <small class="text-muted">
                <xm-time-since [date]="play.startTime"></xm-time-since>
              </small>
            </p>
            <h5 class="card-title">{{ play.track.name }}</h5>
            <a [routerLink]="['/artist', artist.id]" class="mr-2" *ngFor="let artist of play.track.artists">
              {{ artist.name }}
            </a>
          </div>
          <div>
            <xm-links class="text-center" [name]="play.track.name"
              [artists]="play.track.artists" [trackId]="play.track.id">
            </xm-links>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
