<div class="container mb-5">
  <div class="row justify-content-center" *ngIf="track">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card">
        <xm-coverart [trackId]="track.id"></xm-coverart>
        <div class="card-block">
          <h4 class="card-title">{{track.name}}</h4>
          <a [routerLink]="['/artist', artist.id]" class="card-link" *ngFor="let artist of track.artists">
            {{ artist.name }}
          </a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="m-0">First Heard -
              <xm-time-since [date]="track.createdAt"></xm-time-since>
            </p>
          </li>
          <li class="list-group-item">
            <p class="m-0">Last Heard -
              <xm-time-since [date]="track.updatedAt"></xm-time-since>
            </p>
          </li>
          <li class="list-group-item">
            <p class="m-0">Played - {{ track.plays | number }} times</p>
          </li>
          <li class="list-group-item justify-content-center">
            <xm-links class="text-center" [hideTrack]="true" [name]="track.name"
              [artists]="track.artists" [trackId]="track.id">
            </xm-links>
          </li>
        </ul>
      </div>
      <div class="card mt-4" *ngIf="playsByDay">
        <div class="card-block text-center">
          <h4 class="card-title mb-1">Activity</h4>
          <p class="card-text"><small class="text-muted">Last 30 Days</small></p>
        </div>
        <div class="card-block p-1 text-center">
          <ngx-trend smooth="true" autoDraw="true" autoDrawEasing="ease-in" [data]="playsByDay"></ngx-trend>
        </div>
      </div>
    </div>
  </div>
</div>
