<div class="container mb-5">
  <div class="row justify-content-center" *ngIf="track">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card mb-4">
        <xm-coverart [spotify]="track.spotify"></xm-coverart>
        <div class="card-block">
          <h4 class="card-title">{{track.name}}</h4>
          <a [routerLink]="['/artist', artist.id]" class="card-link" *ngFor="let artist of track.artists">
            {{ artist.name }}
          </a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="m-0">First Heard -
              <xm-time-since [date]="track.createdAt"></xm-time-since>
            </p>
          </li>
          <li class="list-group-item">
            <p class="m-0">Last Heard -
              <xm-time-since [date]="track.updatedAt"></xm-time-since>
            </p>
          </li>
          <li class="list-group-item">
            <p class="m-0">Played - {{ track.plays | number }} times</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card mb-4">
        <div class="card-block text-center">
          <h4 class="card-title mb-1">Links</h4>
          <!-- <p class="card-text"><small class="text-muted">Last 30 Days</small></p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="mb-0">
              <i class="fa fa-spotify"></i> Spotify - <a [href]="spotifyLink">{{spotify?.spotifyId}}</a>
            </p>
          </li>
          <li class="list-group-item">
            <p class="mb-0">
              <i class="fa fa-youtube-play"></i> YouTube - <a [href]="youtubeLink">Search</a>
            </p>
          </li>
          <!-- <li class="list-group-item">
            <p class="mb-0">
              <i class="fa fa-apple" aria-hidden="true"></i> iTunes:
            </p>
          </li>
          <li class="list-group-item">
            <p class="mb-0">
              <i class="fa fa-amazon" aria-hidden="true"></i> Amazon:
            </p>
          </li> -->
        </ul>
      </div>
      <div class="card mb-4" *ngIf="playsByDay">
        <div class="card-block text-center">
          <h4 class="card-title mb-1">Activity</h4>
          <p class="card-text"><small class="text-muted">Last 30 Days</small></p>
        </div>
        <div class="card-block p-1 text-center" *ngIf="playsByDay">
          <ngx-trend smooth="true" autoDraw="true" autoDrawEasing="ease-in" [data]="playsByDay"></ngx-trend>
        </div>
      </div>
    </div>
  </div>
</div>
