<div class="jumbotron text-center mb-0">
  <div class="d-inline-block p-3 mb-3 rounded">
    <h1 class="display-3">xmplaylist</h1>
    <p class="lead mb-1">XM & Sirius radio recently played</p>
    <p><a style="color: #6e7e8e" href="https://twitter.com/scttcper">@scttcper</a></p>
  </div>
  <ng-adsense class="d-none d-sm-block text-center"></ng-adsense>
</div>
<div style="background: #fff">
  <div class="container p-2 mb-3">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Genre: -->
        <div class="d-inline" *ngFor="let genre of genres">
          <button
            class="btn btn-outline-secondary mb-2 mr-2 mt-2"
            (click)="setGenre(genre)"
            [class.active]="curGenre === genre"
            role="button"
            type="button"
          >
            {{ genre }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="mt-3" *ngIf="!channels.length"><xm-spinner></xm-spinner></div>
  <div class="row mb-5 justify-content-center">
    <div class="col-12"><h3>Stations</h3></div>
    <div
      class="col-sm-6 col-md-4 col-lg-2 mb-3"
      *ngFor="let channel of channels"
    >
      <div class="h-100">
        <div
          class="card h-100 text-center"
          [routerLink]="['station', channel.id]"
        >
          <div class="row m-0">
            <div class="col-6 col-sm-12 top">
              <img
                width="100%"
                class="card-img-top img-fluid p-3"
                [alt]="channel.name"
                [src]="'/assets/img/' + channel.id + '.png'"
              />
            </div>
            <div class="col-6 col-sm-12 border-0">
              <div class="card-body p-2">
                <div class="row h-100">
                  <div class="col align-self-center">
                    <h6 class="pb-0">
                      #{{ channel.number }} <br />
                      {{ channel.name }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center"><ng-adsense></ng-adsense></div>
