.card {
  // box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
  .top {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: #161f29;
  }
  .card-body {
    border-radius: 1em;
  }
  @media (max-width: 575.98px) {
    .card-body {
      height: 150px;
    }
    .top {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 1em;
    }
  }
  &:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.03), 0 3px 12px rgba(39, 44, 49, 0.03);
    transform: translate3D(0, 4px, 0);
  }
}

.btn {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  border: 0;
}
.btn-outline-secondary {
  &:not(:disabled):not(.disabled).active {
    background-color: #121f2a;
  }
  &:hover {
    background-color: #121f2a;
  }
}

.jumbotron {
  background-color: #161f29;
  border-radius: 0;
  margin-bottom: 1em;
  color: #fff;
  .d-inline-block {
    // background-color: rgba(255, 255, 255, 0.7);
  }
  h1 {
    font-weight: 800;
  }
  .lead {
    font-size: 1.5rem;
    font-weight: 400;
  }
  @media (max-width: 575.98px) {
    h1 {
      font-size: 3rem;
    }
    .lead {
      font-size: 1rem;
    }
  }
}

.active {
  background-color: #20639b;
  color: #eceeef;
  border-color: #eceeef;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transform: scale(0.985);
}
.active:hover {
  background-color: lighten(#20639b, 10%);
}
