.card {
  cursor: pointer;
  .top {
    transition: all 0.2s ease-in;
    background: #242944;
  }
}
.card:hover {
  cursor: pointer;
  .top {
    transition: all 0.2s ease-in;
    background: lighten(#242944, 4%);
  }
}
.shadow {
  transition: all 0.2s ease-in;
  &:focus,
  &:hover {
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  }
}
.white {
  background: #ffffff;
}
.jumbotron {
  background-color: #eceeef;
  border-radius: 0;
  h1 {
    font-weight: 600;
  }
}
.active {
  background-color: #242944;
  color: #eceeef;
  border-color: #eceeef;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transform: scale(0.985);
}
.active:hover {
  background-color: lighten(#242944, 10%);
}
