<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-3">xmplaylist</h1>
    <p class="lead">XM and Sirius radio recently played</p>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h6>Filter:</h6>
    </div>
    <div class="col-12 text-center">
      <div class="d-inline" *ngFor="let genre of genres">
        <button class="btn btn-secondary mb-2"
          (click)="setGenre(genre)" [class.active]="curGenre === genre" role="button" type="button">
          {{ genre }}
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-2 justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-2 mb-3" *ngFor="let channel of channels">
      <div class="card h-100 text-center" [routerLink]="['station', channel.id]">
        <div class="row m-0">
          <div class="col-6 col-sm-12 black">
            <a [routerLink]="['/station', channel.id]">
              <img width="100%" class="card-img-top img-fluid p-3" [alt]="channel.name" [src]="'/assets/img/' + channel.id + '.png'">
            </a>
          </div>
          <div class="col-6 col-sm-12 white border-0">
            <div class="card-block p-2">
              <p class="pb-0">{{ channel.number }} - {{ channel.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
