.card {
  cursor: pointer;
}
.black {
  background: #181818;
}
.white {
  background: #ffffff;
}
.jumbotron {
  background: #ffffff;
}
.display-3 {
  font-family: "Times New Roman", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
